body {
    font-family: sans-serif;
}

.right div {
    margin: 0px;
}

.body-container {
    display: flex;
    justify-content: space-between;
    margin: 50px 50px 0 50px;
}

a {
    text-decoration: none;
}

.info {
    display: flex;
    flex-direction: column;
}

.info a {
    align-self: center;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 5px 8px;
    color: rgb(255, 115, 0);
    border-color: rgb(255, 115, 0);
    transition: 0.2s;
}

.info a:hover {
    background-color: rgb(255, 115, 0);
    color: rgb(221, 221, 221);
}

.info div {
    margin: 30px 0;
    font-size: 18px;
    line-height: 1.7;
}

.info span {
    display: inline-block;
    width: 150px;
}


header h1 {
    margin: 0;
    justify-self: center;
}

header a {
    justify-self: end;
}

.avatar {
    display: block;
    width: 125px; 
    height: 125px;
    border-radius: 3px;
    margin: 0 auto 0 auto;
}

.posts {
    display: inline-block;
}

.post {
    margin: 30px 0 0 0;
    width: 500px;
    padding: 15px;
    border-radius: 3px;

    color: white;
    background-color: gray;
    margin-bottom: 10px;
}

.title {
    font-size: 22px;
    margin: 0 0 15px 0;
}

.text {
    font-size: 18px;
    margin: 0 0 20px 0;
}

.edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deletebutton {
    padding: 5px 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: rgb(190, 1, 1);
    color: rgb(190, 1, 1);
    transition: 0.2s;
}

.deletebutton:hover {
    background-color: rgb(190, 1, 1);
    color: rgb(221, 221, 221);
}

.editbutton {
    padding: 5px 15px 5px 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: rgb(15, 189, 247);
    color: rgb(15, 189, 247);
    transition: 0.2s;
}

.editbutton:hover {
    background-color: rgb(15, 189, 247);
    color: rgb(221, 221, 221);
}

#loadMore {
    display: block;
    margin: 50px auto 0 auto;
    padding: 5px;
    background: none;
    font-size: 18px;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
}